// {{ controller_name }} Controller
const {{ controller_name }} = {
    getAll: (req, res) => {
        // TODO: Get all {{ model_name }}
    },
    create: (req, res) => {
        // TODO: Create a new {{ model_name }}
    }
};

module.exports = {{ controller_name }};